@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYekan;
  src: url(./assets/fonts/IRANYekanMobileRegular.woff2);
}

body,
html {
  height: 100%;
}

body {
  font-family: 'IRANYekan', Tahoma, sans-serif;
  direction: rtl;
  background-color: #020b1f;
}
